@import "vars"
:root {
  --bg1: url("https://wallpapersite.com/images/pages/pic_w/14537.jpg");
  --bg2: url("https://i.pinimg.com/originals/da/ec/8d/daec8d755fe71408084e214a7b17460f.jpg");
  --bg3: url("https://wallpapershome.com/images/pages/pic_hs/5321.jpg");
  --bg: var(--bg2);
  --bgcolor: #333;
  --accent-color: #fd5252;
  --accent-gradient: accent-gradient;
  --accent: var(--accent-gradient);
  --overlay: rgba(0,0,0,0.1);

  // blur switches
  --wallblur: 15px;
  --sideblur: 0px;
  --bannerblur: 0px;
  --friendblur: 0px;
  --musicplayerblur: 0px;
  --accentblur: 0px;
  --blur: 0px;



  // switches
  --turn-album-wall-on: 1;
  --turn-wall-on: 0;
}

@import "/src/base.styl"