
/* filter styles */
.h-search {
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all linear .2s;
}
.h-search::placeholder {
  opacity: 1;
  color: #eee;
}

.h-search-wrapper::before {
  text-shadow: 1px 1px 1px #000;
}
.focus .h-search,
.h-search:focus {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
