
/* Home page */
.GlueSectionDivider__container {
  border: none;
}
.GlueSectionDivider__container h2 {
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
}
.Carousel__grid {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  padding: 10px;
}
.GlueSectionDivider__description {
  color: #eee;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
}