
/* scrollbars */
.scrollbar-style-visible-mac::-webkit-scrollbar,
.scrollbar-style-visible-mac ::-webkit-scrollbar,
.scrollbar-style-visible-windows::-webkit-scrollbar,
.scrollbar-style-visible-windows ::-webkit-scrollbar,
.scrollbar-style-visible-linux::-webkit-scrollbar,
.scrollbar-style-visible-linux ::-webkit-scrollbar {
  width: 16px !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-button
.scrollbar-style-visible-mac ::-webkit-scrollbar-button
.scrollbar-style-visible-windows::-webkit-scrollbar-button,
.scrollbar-style-visible-windows ::-webkit-scrollbar-button,
.scrollbar-style-visible-linux::-webkit-scrollbar-button,
.scrollbar-style-visible-linux ::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-corner,
.scrollbar-style-visible-mac ::-webkit-scrollbar-corner,
.scrollbar-style-visible-windows::-webkit-scrollbar-corner,
.scrollbar-style-visible-windows ::-webkit-scrollbar-corner,
.scrollbar-style-visible-linux::-webkit-scrollbar-corner,
.scrollbar-style-visible-linux ::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-thumb,
.scrollbar-style-visible-mac ::-webkit-scrollbar-thumb,
.scrollbar-style-visible-windows::-webkit-scrollbar-thumb,
.scrollbar-style-visible-windows ::-webkit-scrollbar-thumb,
.scrollbar-style-visible-linux::-webkit-scrollbar-thumb, 
.scrollbar-style-visible-linux ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7) !important;
  min-height: 32px;
  min-width: 32px;
}
.scrollbar-style-visible-mac ::-webkit-scrollbar-track,
.scrollbar-style-visible-mac::-webkit-scrollbar-track,
.scrollbar-style-visible-windows ::-webkit-scrollbar-track,
.scrollbar-style-visible-windows::-webkit-scrollbar-track,
.scrollbar-style-visible-linux ::-webkit-scrollbar-track,
.scrollbar-style-visible-linux::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.scrollbar-style-visible-windows::-webkit-scrollbar-button,
.scrollbar-style-visible-windows ::-webkit-scrollbar-button,
.scrollbar-style-visible-linux::-webkit-scrollbar-button,
.scrollbar-style-visible-linux ::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-size: 16px 64px;
  background-repeat: no-repeat;
  background-position: center center;
}
