
/* download button/switch */
.slider {
  background: rgba(0,0,0,0.7);
  border: none;
  backdrop-filter: blur(var(--blur));
}
.slider div {
  background-color: var(--accent_color);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.8);
  top: 0;
}
.slider:hover div {
  filter: brightness(150%);
  background-color: var(--accent_color);
}
