/* tooltips */
.Tooltip,
.tooltip,
#tooltip {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(var(--blur));
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.Tooltip span {
  color: inherit;
}