/* top */
.content-top-bar {
  background-color: rgba(0,0,0,0.7);
}
.browser-navigation {
  color: #fff;
}

/* search bar */
.SearchInput,
.SearchInput__input {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.SearchInput__input {
  background-color: rgba(0,0,0,0.2);
}
.content-top-bar__search-input {
  max-width: 300px;
}
.SearchInput__label {
  width: 100%;
}