accentS = #fd5252;
accent-gradient = linear-gradient(to right, darken(accentS, 80%) 0%, accentS 100%);

ac = var(--accent-color);
ag = var(--accent-gradient);
acc = var(--accent);

ovl = var(--overlay);

wb = var(--wallblur);